In [1]:
%matplotlib inline

import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

Let's pick a few websites:

In [2]:
data = np.zeros((7,), dtype=[
        ('URL', 'a100'),
        ('rank', 'i4'),
        ('tr', 'f8'),
    ])

In [3]:
data[:] = [
    ('facebook.com', 3, 28e9),
    ('dictionary.com', 688, 79.7e6),
    ('python.org', 1788, 21.8e6),
    ('gcc.gnu.org', 4743, 1.8e6),
    ('netcraft.com', 52185, 654.6e3),
    ('sphinx.org', 117945, 255.8e3),
    ('internetfonden.se', 4056955, 3.1e3),
]

In [4]:

website_data = pd.DataFrame(data)
website_data

                    URL     rank           tr
0       b'facebook.com'        3  28000000000
1     b'dictionary.com'      688     79700000
2         b'python.org'     1788     21800000
3        b'gcc.gnu.org'     4743      1800000
4       b'netcraft.com'    52185       654600
5         b'sphinx.org'   117945       255800
6  b'internetfonden.se'  4056955         3100

In [5]:
rnk = website_data['rank']

In [6]:
for i in range(7):
    website_data.iloc[0][0]

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111)
ax.plot(website_data['tr'], website_data['rank'], '.')
ax.set_xscale("log")
ax.set_yscale("log")
for i in range(7):
    label, x, y = website_data.iloc[i]
    ax.annotate(label, xy=(x,y))

In [ ]:
fig

In [ ]:
fig = plt.figure()

In [ ]:
ax = fig.add_subplot(111)
ax.plot(website_data['rank'], website_data['tr'])
fig